NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/geonexa
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=12h
CORS_ORIGINS=http://localhost:4200
DEVICE_KEY_HEADER=x-device-key
MISSING_DATA_CRON=*/5 * * * *
ENABLE_MISSING_DATA_WATCH=true
UPLOAD_MAX_MB=20
ENABLE_MQTT=false
MQTT_URL=mqtt://127.0.0.1:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=geonexa/+/+/+/telemetry
